// Freelancer Vars

@brand-primary: #569684;
@brand-success: #569684;
@gray-lighter: lighten(#000, 93.5%);

@testimonialColor: #b13d29; 

@accent-red: #b13d29;
@primary-blue: #385ea4;
@brown-grey: #685031;

@navBG: rgba(255,255,255,.8);
@lowerHeader: rgba(0,0,0,.75);

// Fonts
@brandFont: 'Copperplate Gothic LT W01_32AB', 'Lora', sans-serif;
@navFont: 'Playfair Display', serif;
@typeFont: 'Lora', serif; 
@buttonFont: 'Alegreya', serif;
@keyQuoteFont:'Asap', sans-serif;

@imagePath: "./images"; // CSS Image Path

// Theme vars (don't touch these)
@section-primary: @primary-blue; 
@section-secondary: @brown-grey; 

@brand-primary: @primary-blue;
@brand-success: @primary-blue;
@gray-lighter: lighten(#000, 93.5%);

